@font-face {
  font-family: "icon"; /* Project id 3000141 */
  src: url('iconfont.woff2?t=1639386750710') format('woff2'),
       url('iconfont.woff?t=1639386750710') format('woff'),
       url('iconfont.ttf?t=1639386750710') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i_check_c:before {
  content: "\e63d";
}

.i_expan_l:before {
  content: "\e6b3";
}

.i_delete:before {
  content: "\e6b4";
}

.i_s_temp:before {
  content: "\e6b5";
}

.i_warning:before {
  content: "\e6b6";
}

.i_cart:before {
  content: "\e6a8";
}

.i_agora:before {
  content: "\e6a9";
}

.i_calendar:before {
  content: "\e6aa";
}

.i_collect:before {
  content: "\e6ab";
}

.i_expan:before {
  content: "\e6ac";
}

.i_list:before {
  content: "\e6ad";
}

.i_pack_up:before {
  content: "\e6ae";
}

.i_minus:before {
  content: "\e6af";
}

.i_edit:before {
  content: "\e6b0";
}

.i_eyes:before {
  content: "\e650";
}

.i_more:before {
  content: "\e694";
}

.i_back:before {
  content: "\e697";
}

.i_add:before {
  content: "\e698";
}

.i_upload:before {
  content: "\e699";
}

.i_hint:before {
  content: "\e69a";
}

.i_search:before {
  content: "\e69b";
}

.i_close_b:before {
  content: "\e69d";
}

.i_close:before {
  content: "\e69e";
}

.i_point:before {
  content: "\e69f";
}

.i_click:before {
  content: "\e6a4";
}

.i_lock:before {
  content: "\e6b1";
}

.i_user:before {
  content: "\e6b2";
}

