{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "> 0.25%, not dead",
                "useBuiltIns": "usage",
                "corejs": 3.8,
                "cacheDirectory": true
            }
        ]
    ],
    "plugins": [
        ["import", { "libraryName": "ant-design-vue", "style": "css" }] // 确保 style 选项设置为 "css"
    ]
}
