:root {
    --header-h-pc-mall: 183px;  // 头部高度
    --footer-h-pc-mall: 80px; // 尾部高度
}
@primary: #006EF9;
@light: #0081FF;
@red: #F5222D;
@blue: #4DAAFF;
@grey: #8090A6;
@green: #44CB7C;
@orange: #FF6A3F;
@yellow: #FF9918;
@purple: #A45DFF;
@white: #FFFFFF;
@blue_2: #406AFF;
@green_2: #57C54D;

@primary_l: rgba(0, 110, 249, 0.07);
@light_l: rgba(0, 129, 255, 0.1);;
@red_l: #FEE9EA;
@blue_l: #EDF6FF;
@grey_l: rgba(140, 140, 140, 0.1);
@green_l: #E8F9EF;
@orange_l: #FFF0EC;
@yellow_l: #FFF5ED;
@purple_l: rgba(241, 230, 255, 0.9);
@blue_2_l: #ECF0FF;
@green_2_l: #EEF9ED;

@fz_lg: 18px;
@fz_md: 16px;
@fz_bs: 14px;
@fz_sm: 12px;
@fz_mn: 10px;
@fz_28: 28px;
@fz_24: 24px;
@fz_20: 20px;
@fz_25: 25px;
@fz_13: 13px;

@mt_26: 26px;

/*
 * BG: 背景颜色; TC: 文字颜色; BC: 边框颜色
 * N: normal-普遍颜色; I: import-重要颜色; T: title-标题颜色
 *
 * P: primary-主题色;
 * LP: light primary-浅一点的主题色;
 * DP: deep primary-深一点的主题色;
 *
 * InP: in primary-主题色内的文字颜色
 */
// 滚动条
@scrollbar-thumb: rgba(144, 146, 152, 0.3);
@scrollbar-thumb-hover: #BBBBBB;
@scrollbar-track: #EDEDED;

// 登录页
@BG_login_herder: #002140;
@BG_login_title: #F8FAFC;
@TC_login_title: #353C44;
@TC_login_footer: #373B41;
@BC_login_box: #EAEDF2;
@BC_login_input: #E7EAF0;

// 模板展示
@BG_temp_cover: #F2F3F5;
@BG_temp_preview: #F2F2F2;
@TC_temp_title: #1C1C20;

// 表格颜色
@TC_table: #363D42;
@BG_table_icon: #F5F8FA;
@TC_table_icon: #BFBFBF;


// 背景颜色
@BG_body: #ECF0F3;
@BG_side: #002140;
@BG_side_logo: #001529;
@BG_shadow: rgba(0, 21, 41, 0.35);
@BG_load: rgba(255, 255, 255, 0.6);
@BG_pre: #F5F7F9;
@BG_rank: #F0F2F5;
@BG_upload: #FFFFFF;
@BG_tab: #FAFAFA;
@BG_hint: rgba(0,0,0,0.4);
@BG_panel: #FFFFFF;
@BG_search: #F7F8FA;
@BC_placeholder: #D8D8D8;

@BG_N: #FFFFFF;
@BG_P_T: rgba(0, 110, 249, 0.07);
@BG_LP: #1890ff;
@BG_P: #006CFF;

// 文字颜色
@TC_L: #FFFFFF;
@TC_L_T: rgba(255, 255, 255, 0.65);
@TC_LP: #1890ff;
@TC_P: #006EF9;
@TC_InP: #FFFFFF;


@TC_LT: #34383E;
@TC_T: #000022;
@TC_DT: #262626;
@TC_D: #000000;

@TC_LN: rgba(0, 0, 0, 0.45);
@TC_N: rgba(0, 0, 0, 0.65);
@TC_I: rgba(0, 0, 0, 0.85);

@TC_placeholder: rgba(0, 0, 0, 0.25);
@TC_tip: #969799;
@TC_link: #535455;
@TC_upload: #E5E8EB;
@TC_required: #EB4141;
@TC_model_colse: #B4BDC5;
@TC_model_title: #34383E;
@TC_header_name: #323943;
@TC_header_item: #595959;

// 车辆
@TC_car_title: #333;
@TC_car_info: #515154;
@TC_car_bc: #D2D2D2;
@TC_car_price: #F4752E;


// 边框颜色
@BC_LP: #1890ff;
@BC_P: #006CFF;
@BC_T: #EBEDF0;
@BC_N: #EAECF2; //
@BC_I: #D9D9D9;

@BC_tabs: #E6EAEE;
@BC_modal: #EAEDF0;
@BC_statistic: #E9E9E9;

// 按钮颜色
@BtnC_S: #67C23A;
@BtnC_S_T: #85CE61;