@red: #F5222D;
@blue: #1890FF;
@green: #52C41A;
@orange: #FF9918;
@grey: rgba(0, 0, 0, 0.25);
@yellow: #FFD053;
@purple: #8543E0;

/*
 * BG: 背景颜色; TC: 文字颜色; BC: 边框颜色
 * N: normal-普遍颜色; I: import-重要颜色; T: title-标题颜色
 *
 * P: primary-主题色;
 * LP: light primary-浅一点的主题色;
 * DP: deep primary-深一点的主题色;
 *
 * InP: in primary-主题色内的文字颜色
 */
// 滚动条
@scrollbar-thumb: rgba(144, 146, 152, 0.3);
@scrollbar-thumb-hover: #BBBBBB;
@scrollbar-track: #EDEDED;

// 登录页
@BG_login_herder: #002140;
@BG_login_title: #F8FAFC;
@TC_login_title: #353C44;
@TC_login_footer: #373B41;
@BC_login_box: #EAEDF2;
@BC_login_input: #E7EAF0;

// 模板展示
@BG_temp_cover: #F2F3F5;
@BG_temp_preview: #F2F2F2;
@TC_temp_title: #1C1C20;

// 表格颜色
@TC_table: #363D42;
@BG_table_icon: #F5F8FA;
@TC_table_icon: #BFBFBF;


// 背景颜色
@BG_body: #F0F2F5;
@BG_side: #002140;
@BG_side_logo: #001529;
@BG_shadow: rgba(0, 21, 41, 0.35);
@BG_load: rgba(255, 255, 255, 0.6);
@BG_pre: #F5F7F9;
@BG_rank: #F0F2F5;
@BG_upload: #F7F8FA;
@BG_tab: #FAFAFA;
@BG_hint: rgba(0,0,0,0.4);
@BG_panel: #FFFFFF;
@BG_search: #F7F8FA;
@BC_placeholder: #D8D8D8;

@BG_N: #FFFFFF;
@BG_P_T: rgba(26, 144, 255, 0.12);
@BG_LP: #5B8FF9;
@BG_P: #1890FF;
@BG_DP: #155BD4;

// 文字颜色
@TC_L: #FFFFFF;
@TC_L_T: rgba(255, 255, 255, 0.65);
@TC_P: #1890FF;
@TC_InP: #FFFFFF;
@TC_LT: #34383E;
@TC_T: #323232;
@TC_DT: #262626;
@TC_LN: rgba(0, 0, 0, 0.45);
@TC_N: rgba(0, 0, 0, 0.65);
@TC_I: rgba(0, 0, 0, 0.85);

@TC_placeholder: rgba(0, 0, 0, 0.25);
@TC_tip: #969799;
@TC_link: #535455;
@TC_upload: #969799;
@TC_required: #EB4141;
@TC_model_colse: #B4BDC5;
@TC_model_title: #34383E;
@TC_header_name: #323943;
@TC_header_item: #595959;

// 边框颜色
@BC_P: #1890FF;
@BC_T: #EBEDF0;
@BC_N: #DCDEE0;
@BC_I: #D9D9D9;

@BC_modal: #EAEDF0;
@BC_statistic: #E9E9E9;

// 按钮颜色
@BtnC_S: #67C23A;
@BtnC_S_T: #85CE61;