/* 搜索项样式 */
.search-container-new {
    .item-box {
        display: flex;        

        .key-box {
            padding: 0px 10px;
            box-sizing: border-box;
            display: flex;
            align-items: center;

            color:  #1D2129;
            font-size: 14px;
            font-weight: 400;
            border: 1px solid #E2E2EA;
            border-radius: 4px 0px 0px 4px ;
            border-right: none;
            background-color: #FFFFFF;

        }
        
        .value-box {

            flex: 1;
            overflow: hidden;

            >.ant-input,
            >.ant-select,
            >.ant-select-selector,
            >.ant-picker,
            >.ant-cascader-picker,
            >.ant-select-single,
            >.ant-select-show-arrow {
                width: 100%;
                border-radius: 0px 4px 4px 0px !important;
            }
            .ant-select:not(.ant-select-customize-input) .ant-select-selector{
                border-radius: 0px 4px 4px 0px !important;
            }
            
        }
    }
}

/* 垂直的form */
.horizontal-search-row {
    display: flex;
    flex-direction: column;
    .search-col {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        margin-top: 16px;        
        .key {
            color: #1d2129;
            // white-space: nowrap;            
        }
        .key-default-w {
            width: 80px; // 默认宽度
        }
        .value {
            width: 100%;
            color: #1d2129;
        }
        // 必选图标
        &.required {
            .key::before {
                content: "*";
                color: #EB4141;
                // margin-right: 4px;
                vertical-align: middle;
            }
        }
    }
}

// 水平的form
.level-search-row {
    display: flex;    
    .search-col {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        margin-top: 16px;  

        .key {
            color: #1d2129;
            // white-space: nowrap;            
        }
        .key-default-w {
            width: 80px; // 默认宽度
        }
        .value {
            width: 100%;
            color: #1d2129;
        }
        // 必选图标
        &.required {
            .key::before {
                content: "*";
                color: #EB4141;
                // margin-right: 4px;
                vertical-align: middle;
            }
        }
    }
}

/* 自定义 model 想修改里面的样式 在外面先给个class */
.custom-ant-modal {
    .ant-modal-header {
        border-bottom: 0px !important;
    }
}

// tab栏hover效果

.tab-animate {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        width: 0%;
        height: 2px;
        background: #FFF;
        border-radius: 1px;
        transition: width 0.3s;
    }
    &:hover::before {
        width: 100%;
    }
}
>>>>>>> eaa113fba2ff18c72e39a7a0346819c50c105418
