<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <script>
            let list = [
                // {
                //     id: 4,
                //     key: 'test.oneMange1.bookList.delete',
                //     name: '删除',
                // },
                // {
                //     id: 5,
                //     key: 'test.oneMange2',
                //     name: '管理2',
                // },
                // {
                //     id: 6,
                //     key: 'test.oneMange2.orderList',
                //     name: '订单',
                // },
                {
                    id: 3,
                    key: 'test.oneMange1.bookList.edit',
                    name: '编辑',
                },
                // {
                //     id: 2,
                //     key: 'test.oneMange1.bookList',
                //     name: 'book列表1',
                // },
                // {
                //     id: 1,
                //     key: 'test.oneMange1',
                //     name: '管理1',
                // },
            ];

            function processAuthList(authList) {
                let tree = {
                    route: '',
                    name: '',
                };
                travelAuth(authList, tree);
                return tree;
            }

            function getNextLevelNodeNameList(authList, prefix = '') {
                console.log("prefix", prefix);
                let items = {};
                authList.forEach((node, i) => {
                    let nodeKey = node.key;
                    console.log("prefix !== undefined", !prefix);
                    console.log("nodeKey.indexOf(prefix)", nodeKey.indexOf(prefix));
                    if (prefix !== undefined) {
                        if (nodeKey.indexOf(prefix) < 0) {
                            return;
                        }
                    }
                    
                    let subKey = nodeKey.substring(prefix.length + 1);
                    console.log('subKey', subKey);
                    let parts = subKey.split('.').filter(s => s !== '');
                    if (parts.length == 0) {
                        return;
                    }
                    let key = parts[0];
                    items[key] = key;
                });

                return Object.keys(items);
            }

            function getSubAuthList(authList, prefix) {
                return authList.filter(node => node.key.indexOf(prefix) === 0);
            }

            function travelAuth(authList, node, parentRoute) {
                let children = [];

                let currentLevelNodeNameList = getNextLevelNodeNameList(authList, parentRoute);
                console.log('nextLevel', currentLevelNodeNameList);

                // if (currentLevelNodeNameList.length === 0) {
                //     node.key = node.route + '.' + node.name;
                //     return;
                // }

                currentLevelNodeNameList.forEach((name, _) => {
                    let route = null;

                    if (node.route === '') {
                        route = name;
                    } else {
                        route = parentRoute + '.' + name;
                    }

                    console.log('getSubAuthList', route);
                    let childAuthList = getSubAuthList(authList, route);
                    console.log('childAuthList', childAuthList);
                    if (childAuthList.length === 0) {
                        return;
                    }

                    let childNode = {
                        id: 0,
                        route: parentRoute,
                        name: name,
                        parent: node,
                    };

                    travelAuth(authList, childNode, route);

                    children.push(childNode);
                });

                node.children = children;
            }

            processAuthList(list);
        </script>
    </body>
</html>
